
<nav class="navbar navbar-inverse navbar-fixed-top">
    
        <div id="mobile_only_nav" class="mobile-only-nav">
            <ul class="nav navbar-left top-nav pull-left">
                <li class="dropdown auth-drp">
                    <a href="#" class="dropdown-toggle pr-0" data-toggle="dropdown"><img src="assets/img/user1.png" alt="user_auth" class="user-auth-img img-circle"/><span class="user-online-status"></span></a>
                    <ul class="dropdown-menu user-auth-dropdown" data-dropdown-in="flipInX" data-dropdown-out="flipOutX">
                        <li>
                            <a href="#"><i class="zmdi zmdi-power"></i><span>Log Out</span></a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown app-drp">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="zmdi zmdi-apps top-nav-icon"></i></a>
                    <ul class="dropdown-menu app-dropdown" data-dropdown-in="slideInRight" data-dropdown-out="flipOutX">
                        <li>
                            <div class="app-nicescroll-bar">
                                <ul class="app-icon-wrap pa-10">
                                    <li>
                                        <a href="#" id="service" class="connection-item" routerLink="/home/services">
                                            <i class="zmdi zmdi-cloud-outline txt-info"></i>
                                            <span class="block">Services</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" id="employee" class="connection-item" routerLink="/home/employees">
                                            <i class="zmdi zmdi-email-open txt-success"></i>
                                            <span class="block">Employees</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="calendar.html" class="connection-item">
                                            <i class="zmdi zmdi-calendar-check txt-primary"></i>
                                            <span class="block">Customers</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="vector-map.html" class="connection-item">
                                            <i class="fa fa-print"></i>
                                            <span class="block">Reports</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="chats.html" class="connection-item">
                                            <i class="zmdi zmdi-comment-outline txt-warning"></i>
                                            <span class="block">Setting</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="contact-card.html" class="connection-item">
                                            <i class="zmdi zmdi-assignment-account"></i>
                                            <span class="block">Edit Profile</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        
                    </ul>
                </li>
    
    
                <li>
                    <a id="open_right_left" href="#"><i class="zmdi zmdi-settings top-nav-icon"></i></a>
                </li>
            </ul>
            <ul class="nav navbar-right top-nav pull-right">
                <li><img class="block" src="assets/img/weathericons/29.svg"></li>
                <li><span class="forcast-high-deg block" style="padding-top: 7px; color: #EC705B">18°C</span> 08:35 PM</li>
    
            </ul>
        </div>
    
    
    </nav>
    <!-- /Top Menu Items -->