<div class="wrapper theme-5-active pimary-color-green">
  <app-navbar></app-navbar>
  <app-sidebar></app-sidebar>
  <div class="right-sidebar-backdrop"></div>
  <div class="page-wrapper">
    <div class="container-fluid pt-25">
      <router-outlet></router-outlet>
    </div>
  </div>