
<app-new-employee-modal></app-new-employee-modal>


<div class="panel panel-default card-view">
    <div class="panel-heading">
        <div class="pull-left">
            <button class="btn btn-warning btn-icon left-icon" (click)="addEmployeeModal()" id="btnAddGroup">
                <i class="fa fa-plus"></i>
                <span>Add New Employee</span>
            </button>
        </div>
        <div class="clearfix"></div>
    </div>

</div>