<div class="wrapper pa-0">
  <!-- <header class="sp-header">
    <div class="sp-logo-wrap pull-left">
      <a href="index.html">
        <img class="brand-img mr-10" src="dist/img/logo.png" />
        <span class="brand-text">Pudatalk</span>
      </a>
    </div>

    <div class="clearfix"></div>
  </header> -->
  
  <!-- Main Content -->
  <div class="page-wrapper pa-0 ma-0 auth-page">
    <div class="container-fluid">
      <!-- Row -->
      <div class="table-struct full-width full-height">
        <div class="table-cell vertical-align-middle auth-form-wrap">
          <div class="auth-form  ml-auto mr-auto no-float">
            <div class="row">
              <div class="col-sm-12 col-xs-12">
                <div class="mb-30">
                  <h3 class="text-center txt-dark mb-10">Sign in POS </h3>
                  <h6 class="text-center nonecase-font txt-grey">Enter your details below</h6>
                  
                </div>	
                <div class="form-wrap">
                    <div *ngIf="showError" class="alert alert-danger alert-dismissable">
                        <i class="zmdi zmdi-block pr-15 pull-left"></i><p class="pull-left">Opps! {{message}}</p>
                        <div class="clearfix"></div>
                    </div>
                  <form novalidate #f="ngForm" (ngSubmit) = "onSubmit(f)">

                    <div class="form-group" 
                      [ngClass]="{'has-error': username.errors?.required && username.touched}" >
                      <label class="control-label mb-10" for="exampleInputEmail_2">User Name</label>

                      <input type="text" name="username" class="form-control" value="" 
                      [(ngModel)]="login.username" 
                      #username = "ngModel" 
                      placeholder="Enter username" 
                      required>
                      <span *ngIf="username.errors?.required && username.touched" class="help-block">Username is required</span> 
                      
                    </div>


                    <div class="form-group"
                    [ngClass]="{'has-error': password.errors?.required && password.touched}" >
                      <label class="pull-left control-label mb-10" for="password">Password</label>
                      <!-- <a class="capitalize-font txt-primary block mb-10 pull-right font-12" href="#">forgot password ?</a> -->
                      <div class="clearfix"></div>
                      <input type="password" name="password" class="form-control" required 
                      [(ngModel)]="login.password" 
                      #password = "ngModel" 
                      placeholder="Enter pwd"
                      required
                      >
                      <span *ngIf="password.errors?.required && password.touched" class="help-block">Password is required</span> 
                      
                      
                    </div>
                    
                    <div class="form-group text-center">
                      <input type="submit" class="btn btn-info btn-success btn-rounded" id="btn_signin" value="Sign In"/>
                    </div>
                  </form>
                </div>
              </div>	
            </div>
          </div>
        </div>
      </div>
      <!-- /Row -->	
    </div>
    
  </div>
  <!-- /Main Content -->

</div>