<div class="modal fade addItem-modal" id="" tabindex="-1" role="dialog" aria-labelledby="label" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h5 class="modal-title"> New Employee</h5>
      </div>
      <form novalidate #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="modal-body">

          <div class="form-group">
            <label for="firstname" class="control-label mb-10">Name: (*)</label>
            <input type="text" id="firstname" name="firstname" class="form-control " [(ngModel)]="employee.first_name"> 
          </div>
          <div class="form-group">
            <label for="service-item-name" class="control-label mb-10">Position: (*)</label>

            <select id="roleSelector" class="form-control" name="role_id" [ngModel]="employee.role_id" (ngModelChange)="onChange($event)">
              <option value="0"></option>
              <option *ngFor="let role of roles" [ngValue]="role.id"> {{role.display_name}}</option>
            </select>
          </div>

          <div class="form-group" [hidden]="roleValue==0 || roleValue==1">
            <label for="start_date" class="control-label mb-10">Start Date:</label>
            <input type="text" id="start_date" name="start_date" class="form-control" [(ngModel)]="employee.start_date">
          </div>

            <div [hidden]="roleValue==0 || roleValue==1 || roleValue==2 || roleValue==4" class="form-group">
              <label for="sharing_rate" class="control-label mb-10">Revenue Sharing (%)</label>
              <input type="text" id="sharint_rate" name="sharing_rate" class="form-control " [(ngModel)]="employee.sharing_rate">
            </div>
            <div [hidden]="roleValue==0 || roleValue==1 || roleValue==2 || roleValue==4" class="form-group">
              <label for="check_rate" class="control-label mb-10">By Check (%)</label>
              <input type="text" id="check_rate" name="check_rate" class="form-control " [(ngModel)]="employee.check_rate">
            </div>


            <div [hidden]="roleValue==0 || roleValue==1 || roleValue==3" class="form-group">
              <label for="bao_rate" class="control-label mb-10">Pay Rate ($):</label>
              <input type="text" id="bao_rate" name="bao_rate" class="form-control " [(ngModel)]="employee.bao_rate">

              <select id="rateSelector" class="form-control" [(ngModel)]="employee.payrate_type_id" name="payrate_type_id" [ngModel]="selectedPayrate" (ngModelChange)="onChangePayrate($event)">
                <option value="0"></option>
                <option *ngFor="let payrateType of payrateTypes" [ngValue]="payrateType.id"> {{payrateType.display_name}}</option>
              </select>

            </div>

            <div [hidden]="roleValue==0 || roleValue==1 || roleValue==3 || roleValue==4" class="form-group">
              <label for="username" class="control-label mb-10">Username: (*)</label>
              <input type="text" id="username" name="username" class="form-control " [(ngModel)]="employee.username">
            </div>
            <div [hidden]="roleValue==0 || roleValue==1 || roleValue==3 || roleValue==4" class="form-group">
              <label for="password" class="control-label mb-10">Password: (*)</label>
              <input type="password" id="password" name="password" class="form-control " [(ngModel)]="employee.password">
            </div>
            <div [hidden]="roleValue==0 || roleValue==1 || roleValue==3 || roleValue==4" class="form-group">
              <label for="confirm-password" class="control-label mb-10">Confirm Password: (*)</label>
              <input type="password" id="confirm-password" name="confirm-password" class="form-control ">
            </div>

            <div [hidden]="roleValue==0 || roleValue==1" class="form-group">
              <label for="pin" class="control-label mb-10">Confirm PIN: (*)</label>
              <input type="password" id="pin" name="pin" class="form-control " [(ngModel)]="employee.pin">
            </div>
            <div [hidden]="roleValue==0 || roleValue==1" class="form-group">
                <label for="confirm-pin" class="control-label mb-10">PIN: (*)</label>
                <input type="password" id="confirm-pin" name="confirm-pin" class="form-control ">
              </div>




          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" id="btnAddNewEmployee" class="btn btn-danger">Submit</button>
          </div>
      </form>
      </div>
    </div>
  </div>