<div class="fixed-sidebar-left">
    <ul class="nav navbar-nav side-nav">

        <li>
            <a class="active" id="dashboard" href="#" routerLink="/dashboard">
                <div>
                    <i class="fa fa-desktop"></i>
                    <div class="clearfix"></div>

                    <span class="right-nav-text">dashboard</span>
                </div>
                <div class="clearfix"></div>
            </a>
        </li>

        <li>
            <hr class="light-grey-hr mb-10"/>
        </li>

        <li>
            <a class="active" id="customer" href="customers">
                <div>
                    <i class="fa fa-arrow-right"></i>
                    <div class="clearfix"></div>

                    <span class="right-nav-text">Check In</span>
                </div>
                <div class="clearfix"></div>
            </a>
        </li>

        <li>
            <hr class="light-grey-hr mb-10"/>
        </li>

        <li>
            <a class="active" href="#employees">
                <div>
                    <i class="fa fa-arrow-left"></i>
                    <div class="clearfix"></div>

                    <span class="right-nav-text">Check Out</span>
                </div>
                <div class="clearfix"></div>
            </a>
        </li>

        

        <li>
            <hr class="light-grey-hr mb-10"/>
        </li>


        <li>
            <a class="active" href="#" (click)="onLogoutClick()">
                <div>
                    <i class="fa fa-sign-out"></i>
                    <div class="clearfix"></div>

                    <span class="right-nav-text">Lock Screen</span>
                </div>
                <div class="clearfix"></div>
            </a>
        </li>
    </ul>
</div>