/**
    Left Side Bar
 */

 .fixed-sidebar-left > ul > li > a > div > i {
    font-size: 60px !important;
    float: left;
    padding-left: 33%;
}

.fixed-sidebar-left > ul > li > a {
    padding-top: 30px !important;
    padding-bottom: 30px !important;

    text-align: center;
}

.fixed-sidebar-left > ul > li > a > div > span {
    font-size: 16px;
}

.fixed-sidebar-left {
    left: inherit;
    right: 0;
    border-right: inherit;
    border-left: 1px solid #dedede;
}
#mobile_only_nav > ul.nav.navbar-right.top-nav.pull-right {
    padding-right: 45px;
}

.panel-heading-touch-area
{
    width: 165px !important;
    height: 40px !important;
    /*top: 20px;*/
    position: absolute;
}
@media (max-width: 1024px)
{
    .fixed-sidebar-left {
        width: 130px !important;
    }

    .page-wrapper {
        margin-left: 0px;
        margin-right: 130px !important;
    }


    #mobile_only_nav > ul.nav.navbar-right.top-nav.pull-right {
        padding-right: 0px;
    }

    .fixed-sidebar-left > ul > li > a > div > i {
        font-size: 30px !important;
        float: left;
        padding-left: 20%;
    }
    .fixed-sidebar-left > ul > li > a > div > span {
        font-size: 16px;
        margin-right: 85px;
    }


}

@media (max-width: 1400px)
{

    .fixed-sidebar-left {
        width: 225px; }
    .fixed-sidebar-left .side-nav li.navigation-header > span {
        display: block; }
    .fixed-sidebar-left .side-nav li.navigation-header > i {
        display: none; }
    .fixed-sidebar-left .collapse.in {
        display: block; }
    .fixed-sidebar-left .right-nav-text {
        opacity: 1;
    }
}




/**
    Main Dashboard
 */

.page-wrapper {
    margin-left: 0px;
    margin-right: 225px;
}

/**
    Service Group Auto Suggestion
 */

.autocompleter-list{
    width: 100%;
    border-right: 1px #E5E5E5 solid;
    border-left: 1px #E5E5E5 solid;
}
.autocompleter-show {
    border-bottom: 1px #E5E5E5 solid;
}
.autocompleter-list > li {
    padding: 11px;
    color: black;
}
.autocompleter-list > li:hover
{
    background-color: #afd9ee;
}


/**
    Service
 */
.collapsing
{
    position: absolute !important;
    z-index: 20;
    width: 100%;
    top: 50px;
    background: white;
    margin-top: 15px;
    margin-left: -15px;
    padding-left: 5px;
    width: 360px;
}
.collapse.in {
    display: block;
    position: absolute;
    z-index: 20;
    width: 100%;
    top: 50px;
    background: white;
    margin-top: 15px;
    margin-left: -15px;
    padding-left: 5px;
    width: 360px;
}

.service-group-title {
    width: 250px !important;
    height: 40px;
    position: absolute;

}
.panel-title{
    text-transform: uppercase;
}

/*@media (max-width: 1024px) {*/
    /*.service-group-title {*/
        /*width: 250px !important;*/
        /*height: 40px;*/
        /*position: absolute;*/

    /*}*/


/*}*/



